<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:persistent="true" android:sharedUserId="android.uid.system" package="com.sim.scanner" platformBuildVersionCode="23" platformBuildVersionName="6.0.1">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:icon="@drawable/ic_launcher_scanner" android:label="@string/app_name" android:name="ScannerApplication">
        <activity android:icon="@drawable/ic_launcher_scanner" android:label="@string/app_name" android:launchMode="singleTask" android:name="ScannerSettings" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="CodeTypeSettings" android:screenOrientation="nosensor" android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"/>
        <receiver android:name="ScannerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="ScannerJService"/>
    </application>
</manifest>